* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* *********  body tag *************** */

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding: 30px 20px 0 20px;
}

/* ******* styling header **************** */
header {
  text-align: center;
  padding: 20px;
  color: hsl(206, 17%, 28%);
}

/* ********* styling card section of body tag ******** */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding: 30px 40px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

/* styling the password textbox section inside body tag */
#password {
  width: 100%;
  min-height: 200px;
  min-width: 90px;
  font-size: 1.2rem;
  text-align: center;
  margin: 1%;
  padding: 20% 10%;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  overflow: hidden;
}

/* ************** styling button in footer section ****************** */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}



@media (max-width: 795px) {
  .btn {
    font-size: 100%;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 0.7rem;
    font-weight: bold;
  }
}

/* code to make website responsive */

@media (max-width: 750px) {
  h2 {
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  .btn {
    font-size: 0.5rem;
    font-weight: bold;
  }

  h2 {
    font-size: 0.8rem;
    margin-bottom: 11%;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 100%;
  }
}




